/* Nav Styles */
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 200px;
}


/* shared style */
.text-primary{
    color:#FD6E0A;
   
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border:none;
    margin: 20px;

}


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

nav ul{
    display: flex;
    align-items: center;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

.banner{
    display: flex;
}
.banner-content{
    max-width: 580px;
}

/* Banner Styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 70px;
}
.banner-profile-picture{
    width: 450px;
}

.banner-description{

}